{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container mb-5">
	{% if created %}
	<p>{% trans %}User {{ name }} was created successfully{% endtrans %}!</p>
	{% elif deleted %}
	<p>{% trans %}User {{ name }} was deleted successfully{% endtrans %}!</p>
	{% endif %}
	<h2>{% trans %}Create a new user{% endtrans %}</h2>
	<p>{% trans %}You are missing a user to play? Go ahead and create one!{% endtrans %}</p>
	<form id="createuser" action="{{ url_for('game.manageuser') }}" method="post">
		<div id="username" class="form-group">
			<label for="username">Name:</label>
			<input type="text" class="form-control" id="username" name="username" required>
		</div>
		<input type="hidden" name="_action" value="add">
		<div class="text-center">
			<button class="btn btn-outline-primary btn-lg" type="submit">{% trans %}Create User{% endtrans %}</button>
		</div>
	</form>
	<hr>
	<h2>{% trans %}User list{% endtrans %}</h2>
	<form id="deleteuser" action="{{ url_for('game.manageuser') }}" method="post">
		<div id="delusername" class="row">
			{% for player in players %}
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3 h4">

				<input class="form-check-input invisible" value="{{ player }}" type="radio" id="delusername_{{ player }}" name="delusername" required>
				<label class="btn btn-light w-100" for="delusername_{{ player }}">
					{{ player }}
				</label>
			</div>
			{% endfor %}
		</div>
		<input type="hidden" name="_action" value="del">
		<div class="text-center">
			<button class="btn btn-outline-primary btn-lg" type="submit">{% trans %}Delete Selected User{% endtrans %}</button>
		</div>
	</form>
	<hr>
	<p>{% trans %}Go{% endtrans %} <a href="{{ url_for('game.admin') }}">{% trans %}back{% endtrans %}</a> {% trans %}to the game setup when done{% endtrans %}!</p>
</div>
<br>
{% endblock %}
