{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
{% endblock %}

{% block bodyparam %}style="overflow: hidden;" onload='drawScoreboardATC({{ playerlist }}),highlightATC("{{ player }}","{{ rnd }}","{{ throwcount }}","{{ message }}")'{% endblock %}


{% block content %}
<div class="container-fluid" id="content">
	<div id="scoreheader" class="row border-bottom border-top">
		<div class="row h4 w-100 mb-0" id="scoreheader">
			<div class="col border-right">
				<div class="row">
					<div class="col-3">{% trans %}Game{% endtrans %}:</div>
					<div class="col-9 text-center">{{ gametype }}</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col">{% trans %}Variant{% endtrans %}:</div>
					<div class="col">{{ variant }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row p-3" id="header-active">
		<div class="col-6">
			<div class="row round-info">
				<div class="col-12" id="header-activePlayer">
					{{ player }}
				</div>
				<div class="col info-table">
					<table id="active-player-info" class="table table-sm text-light h2 m-0">
						<tbody>
							<tr>
								<td>{% trans %}Round{% endtrans %}:</td>
								<td id="header-rndcount" class="text-center">{{ rndcount }}</td>
							</tr>
							<tr>
								<td>{% trans %}Throws{% endtrans %}:</td>
								<td id="header-throwcount" class="text-center">{{ throwcount }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-6 display-1 hit-next">
		</div>
	</div>
	<div class="row border-top" id="score">
	</div>
</div>

{% endblock %}
