{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
{% endblock %}

{% block bodyparam %}style="overflow: hidden;" onload='drawScoreboardCricket({{ playerlist }}, "{{ lastthrows }}", {{ closed }}),
highlightActiveCricket("{{ player }}","{{ player_id }}","{{ rndcount }}","{{ message }}","{{ throwcount }}")'{% endblock %}


{% block content %}
<div id="content" class="container-fluid">
	<div id="scoreheader" class="row border-bottom border-top">
		<div class="row h4 w-100 mb-0" id="scoreheader">
			<div class="col border-right">
				<div class="row">
					<div class="col">{% trans %}Game{% endtrans %}:</div>
					<div class="col">{{ gametype }}</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col">{% trans %}Variant{% endtrans %}:</div>
					<div class="col">{{ variant }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="header-active">
		<div class="col-6">
			<div class="row round-info">
				<div class="col-12" id="header-activePlayer">
					{{ player }}
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row round-score-cricket mt-3">
				<div class="col-4 throw display-4"></div>
				<div class="col-4 throw display-4"></div>
				<div class="col-4 throw display-4"></div>
				<div class="col-12 message my-2"></div>
			</div>
		</div>
		<div class="w-100">
			<div class="cricketlist w-100">
				<table class="table table-sm text-light text-center w-100">
					<tbody>
						<tr class="h2 m-0 w-100 border border-left-0 border-right-0">
							<td class="text-left border-right">
								<div class="row">
									<div class="col-8 justify-content-start pl-4">{% trans %}Player round{% endtrans %}:</div>
									<div class="col-4 text-right" id="header-rndcount">{{ rndcount }}</div>
								</div>
							</td>
							<td class="c-15-label countColumn">15</td>
							<td class="c-16-label countColumn">16</td>
							<td class="c-17-label countColumn">17</td>
							<td class="c-18-label countColumn">18</td>
							<td class="c-19-label countColumn">19</td>
							<td class="c-20-label countColumn">20</td>
							<td class="c-25-label countColumn">BL</td>
						</tr>
						<tr class="h2 m-0 w-100 count-row border border-left-0 border-right-0">
							<td class="text-left border-right">
								<div class="row">
									<div class="col-8 justify-content-start pl-4">{% trans %}Player Throws{% endtrans %}:
									</div>
									<div class="col-4 text-right" id="header-throwcount">{{ throwcount }}</div>
								</div>
							</td>
							<td class="c-15-count countColumn"></td>
							<td class="c-16-count countColumn"></td>
							<td class="c-17-count countColumn"></td>
							<td class="c-18-count countColumn"></td>
							<td class="c-19-count countColumn"></td>
							<td class="c-20-count countColumn"></td>
							<td class="c-25-count countColumn"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row border-top">
		<table class="table table-sm mx-auto text-light table-cricket w-100" id="players-table">
			<thead>
				<tr class="text-center h4">
					<td class="text-left px-3 name-col dark-column" width="283">{% trans %}Player{% endtrans %}</td>
					<td class="px-3 score-col">{% trans %}Score{% endtrans %}</td>
					<td class="px-3 message-col" width="200">{% trans %}Message{% endtrans %}</td>
					<td class="px-3 dark-column" colspan="3">{% trans %}Throws{% endtrans %}</td>
					<td class="text-center px-3 countColumn">15</td>
					<td class="text-center px-3 countColumn">16</td>
					<td class="text-center px-3 countColumn">17</td>
					<td class="text-center px-3 countColumn">18</td>
					<td class="text-center px-3 countColumn">19</td>
					<td class="text-center px-3 countColumn">20</td>
					<td class="text-center px-3 countColumn">Bull</td>
				</tr>
			</thead>
			<tbody id="score"></tbody>
		</table>
	</div>

	{% endblock %}
