@import url('fonts_B612Mono.css');

:root {
  --bg-color-1: #1d3c4c;
  --bg-color-2: #3c5b6c;
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  font-family: 'B612Mono', serif;
  background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2)) ;
  color: #fff;
  border-radius: 25px;
}

body::before {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 0.1;
  min-width: 100vw;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  background: url("../img/dart-board.svg");
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: -1;
}

#Header {
  height: 10%;
}

#header-cricket-left.table, #header-cricket-right.table {
  background-color: rgba(0,0,0,.3);
  font-size: x-large;
}

#throw-update.table td a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
}

#header-active {
  background: rgba(0, 0, 0, 0.3);
  font-size: 4vw;
}

#header-active .remaining-score {
  font-size: 11vw;
  line-height: 1;
}

#header-active .message {
  font-size: 2rem;
  line-height: 2rem;
  height: 2rem;
}

#header-active div {
  display: flex;
  align-items: center;
  justify-content: center;
}

a, a:hover, a:visited, a:active {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}


.round-info {
  flex-grow: 1;
  height: 100%
}

.info-table {
  align-self: flex-end;
}

/* h1[id^=playerName], h1[id^=playerScore], h1[id^=playerNumber], h2[id^=playerSum], h2[id^=playerThrow] {
  text-align: center;
  vertical-align: middle;
} */
tr[id^=player] td {
  vertical-align: middle;
}

div[id^=playerName] {
  padding: 0 0 0 15px;
}

div[id^=playerMessage] {
  background-color: rgba(255,255,255,.1);
  text-align: center;
  font-weight: bold;
}

div[id^="Throws-"] {
  background-color: rgba(0,0,0,.3);
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

div#throw {
  vertical-align: middle;
  width: 33%;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
}

div#scoreheader {
  padding: .3vh 10px;
}

tbody#score h1, tbody#score h2 {
  margin: 0
}

tbody#score td {
  vertical-align: middle;
  padding: 0
}

tr.active {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white
}

div[id^="Border-"] {
  margin-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background: #3c5f6c;
  transition: all 0.3s;
}

div[id^="Border-"].active {
  border: 5px solid white;
}

div[id^="Cricket-Border-"] {
  width: 45%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

table[id^="playerTable-"] {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table[id^="playerTable-"] td:first-child {
  width: 40%;
}

#players-table thead {
  border-bottom: 3px solid white;
}

.name-col {
  width: 23vw;
}

.score-col {
  width: 20vw;
  background-color: rgba(255,255,255,.1);
}

.message-col {
  width: 30vw;
  background-color: rgba(255,255,255,.1);
}

.sum-col {
  background-color: rgba(255,255,255,.1);
}

.round-score-cricket div {
  line-height: 3rem
}

.round-score-cricket .countColumn {
  min-height: 3rem;
}

#playerNameColumn, #playerLastThrows {
  background-color: rgba(0,0,0,.3);
}

#playerScoreColumn, td[id^="Message-"] {
  background-color: rgba(255,255,255,.1);
}

#playerLastThrows, td[id^="Message-"] {
  height: 5vh;
}

tbody#score td.countColumn {
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.countColumn img {
  max-height: 4vh
}

.countColumn img.closed {
  background: rgba(255, 255, 255, .7);
  opacity: .5;
  border-radius: 5px
}

.count-row td {
  height: 2.8rem;
  min-height: 45px
}

.count-row .countColumn img {
  max-height: 2.8rem
}

#numberColumn:nth-child(even), .countColumn:nth-child(even), .dark-column {
  background-color: rgba(0,0,0,.3);
}

#numberColumn:nth-child(odd), .countColumn:nth-child(odd) {
  background-color: rgba(255,255,255,.1);
}

.player-last-throws {
  min-width: 7ch;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

table.table-cricket td[id^=Message] span {
  line-height: 19px !important;
  display: block;
}

table[id^="playerTable-"] tr td {
  border: 1px solid black;
}

div.jumbotron.header {
  background: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15%;
}

div.footer {
  background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2.5rem;
  margin-top: 2.5rem;
  padding: 5px;
}

table.footer {
  color: #fff;
}

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

.btn-outline-primary:hover {
  background: rgba(0,0,0,.3);
  border-color: #000;
}

.btn-outline-primary:focus {
  background-color: unset;
  box-shadow: unset;
  border-color: unset;
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
  background-color: rgba(255,255,255,.1);
  box-shadow: unset;
  border-color: #fff;
}

.from-control {
  background-color: #fff;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.btn-group>button {
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,.1);
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgba(0,0,0,.3);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #rgba(0,0,0,.3);
  color: white;
  height: 15px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.h4 {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .h4 {
    font-size: 1rem;
  }

  .player-last-throws {
    min-width: 3.7ch;
  }
}

@media (min-width: 768px) {
  .h4 {
    font-size: 1.1rem;
  }

    .player-last-throws {
      min-width: 4ch;
    }
}

@media (min-width: 992px) {
  .h4 {
    font-size: 1.3rem;
  }

    .player-last-throws {
      min-width: 4.6ch;
    }
}

@media (min-width: 1200px) {
  .h4 {
    font-size: 1.5rem;
  }

    .player-last-throws {
      min-width: 5.2ch;
    }
}
